{%with messages = get_flashed_messages()%}
{%if messages %}
<script type="text/javascript">
	alert("{{messages[-1]}}");
</script>
{%endif%}
{%endwith%}

<!DOCTYPE HTML>
<html>

<head>
	<title>CoinCoin</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="is-preload homepage">
	<form action="http://localhost:5000/buycoin" method="post">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<header id="header" class="container">

					<!-- Logo -->
					<div id="logo">
						<h1><a href="http://localhost:5000/main_after_login">Coin</a></h1>
						<span>{{ username }}</span>
					</div>

					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="http://localhost:5000/main_after_login">Mainpage</a></li>
							<li><a href="#">Coin State</a></li>
							<li class="current"><a href="http://localhost:5000/buycoin">Buy Coin</a></li>
							<li><a href="http://localhost:5000/sellcoin">Sell Coin</a></li>
							<li><a href="http://localhost:5000/mypage">Mypage</a></li>
							<li><a href="http://localhost:5000/logout">Logout</a></li>

				</header>
			</div>

			<!-- Banner -->
			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="col-7 col-12-medium">
							<p>{{ 상품1 }}</p>
							<p>가격, 개수, 총 가격, 판매자</p>
						</div>
						<div class="col-5 col-12-medium">
							<ul>
								<li><a href="#" class="button large icon solid fa-arrow-circle-right">Buy</a>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="col-7 col-12-medium">
							<p>{{ 상품2 }}</p>
							<p>가격, 개수, 총 가격, 판매자</p>
						</div>
						<div class="col-5 col-12-medium">
							<ul>
								<li><a href="#" class="button large icon solid fa-arrow-circle-right">Buy</a>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="col-7 col-12-medium">
							<p>{{ 상품3 }}</p>
							<p>가격, 개수, 총 가격, 판매자</p>
						</div>
						<div class="col-5 col-12-medium">
							<ul>
								<li><a href="#" class="button large icon solid fa-arrow-circle-right">Buy</a>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% for  in  %}
		
		{% endfor %}
		<!-- Scripts -->

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

	</form>
</body>

</html>