{%with messages = get_flashed_messages()%}
{%if messages %}
<script type="text/javascript">
	alert("{{messages[-1]}}");
</script>
{%endif%}
{%endwith%}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>market</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="is-preload homepage">
	<form action="http://localhost:5000/" method="post">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<header id="header" class="container">

					<!-- Logo -->
					<div id="logo">
						<h1><a href="index.html">Coin</a></h1>
						<span>by HH</span>
					</div>

					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="current"><a href="http://localhost:5000/">Mainpage</a></li>
							<li><a href="http://localhost:5000/loginfirst">Buy Coin</a></li>
							<li><a href="http://localhost:5000/loginfirst">Sell Coin</a></li>
							<li><a href="http://localhost:5000/login_new">Login</a></li>
							<li><a href="http://localhost:5000/signup">Sign up</a></li>
						</ul>
					</nav>

				</header>
			</div>

			<!-- Banner -->
			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="col-7 col-12-medium">
							<h2>코인 가격 변동 그래프</h2>
							<p>그래프 표시</p>
						</div>
						<div class="col-5 col-12-medium">
							<ul>
								<li><a href="#" class="button large icon solid fa-arrow-circle-right">Ok let's go</a>
								</li>
								<li><a href="#" class="button alt large icon solid fa-question-circle">More info</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Scripts -->

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

	</form>
</body>

</html>