{%with messages = get_flashed_messages()%}
{%if messages %}
<script type="text/javascript">
	alert("{{messages[-1]}}");
</script>
{%endif%}
{%endwith%}


<!DOCTYPE HTML>
<html>

<head>
	<title>sign up</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="is-preload right-sidebar">
	<form action="http://localhost:5000/signup" method="post">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<header id="header" class="container">

					<!-- Logo -->
					<div id="logo">
						<h1><a href="http://localhost:5000/">Coin</a></h1>
						<span>by HH</span>
					</div>

					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="http://localhost:5000/">Mainpage</a></li>
							<li><a href="http://localhost:5000/loginfirst">Mypage</a></li>
							<li><a href="http://localhost:5000/loginfirst">Market</a></li>
							<li class="current"><a href="http://localhost:5000/login">Login</a></li>
						</ul>
					</nav>

				</header>
			</div>

			<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row gtr-200">
						<div class="col-8 col-12-medium">
							<div id="content">

								<!-- Content -->
								<article>

									<h2>Sign Up</h2>
									<p>User Name : <input type="text" id="username" name="username" /></p>
									<p>ID : <input type="text" id="id" name="id" /></p>
									<p>Password : <input type="password" id="password" name="password" /></p>
									<p>Password Confirm: <input type="password" id="password_confirm" name="password_confirm" /></p>
									<p><input type="submit" value="submit" /></p>

								</article>

							</div>
						</div>
					</div>

					<!-- Scripts -->

					<script src="assets/js/jquery.min.js"></script>
					<script src="assets/js/jquery.dropotron.min.js"></script>
					<script src="assets/js/browser.min.js"></script>
					<script src="assets/js/breakpoints.min.js"></script>
					<script src="assets/js/util.js"></script>
					<script src="assets/js/main.js"></script>
	</form>
</body>

</html>